{% extends "base.html" %}


{% block content %}

<div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="/employer_lk" class="btn btn-primary">Личный кабинет</a>
        <a href="/logout" class="btn btn-danger">Выход</a>
    </div>

    <form method="post" action="/employer_workspace" class="reg_form">
        <label for="student_id">ID студента:</label>
        <input type="text" id="student_id" name="student_id" required>
        <button type="submit" class="btn btn-success">Готово</button>
    </form>

    {% if achievements %}
    <div class="table-box">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Токен</th>
                    <th>Название достижения</th>
                    <th>Учебное заведение</th>
                    <th>Приглашение</th>
                </tr>
            </thead>
            <tbody>
                {% for ach in achievements %}
                <tr>
                    <td>{{ ach.token }}</td>
                    <td>{{ ach.description }}</td>
                    <td>{{ ach.university_title }}</td>
                    <td>
                        <form method="post" action="/invite/{{ ach.student_id }}">
                            <button type="submit" class="btn btn-outline-info btn-sm">Пригласить</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

</div>

{% endblock %}