{% extends "workspace_base.html" %}

{% block content %}
<div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <a class="d-block fw-bold text-decoration-none"
       data-bs-toggle="collapse"
       href="#confirmed"
       role="button"
       aria-expanded="false"
       aria-controls="confirmed">
        <h3>Таблица всех студентов системы</h3>
    </a>
    <div class="collapse" id="confirmed">
        <div class="table-box">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id студента</th>
                        <th>ФИО студента</th>
                        <th>Наименование достижений студента</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.nsp }}</td>
                        <td>{{ student.achievement_title }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="student_search_block">
        <form method="post" class="student_search_form">
            <p>{{ form.hidden_tag() }}</p>
            <p>{{ form.student_id.label }}</p>
            <p>{{ form.student_id(class="form-control") }}</p>
            <p>{{ form.submit(type="submit", class="btn btn-success btn-equal-height") }}</p>
            <p>{{ form.clear(type="submit", class="btn btn-danger btn-equal-height") }}</p>
            {% if achievements %}
                <p>{{ form.invite(type="submit", class="btn btn-outline-info") }}</p>
            {% endif %}
        </form>
    </div>
    {% if student_fullname %}
        <div class="d-flex justify-content-between align-items-center mt-4 student-found-box">
            <div class="student-name">
                        Найден студент: <strong>{{ student_fullname }}</strong>
            </div>
        </div>
    {% endif %}

    {% if achievements %}
        <div class="table-box">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Токен</th>
                        <th>Название достижения</th>
                        <th>Учебное заведение</th>
                        <th>Файл</th>
                        <th>Оценка</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ach in achievements %}
                    <tr>
                        <td>{{ ach.token }}</td>
                        <td>{{ ach.title }}</td>
                        <td>{{ ach.university_title }}</td>
                        <td>
                            {% if ach.approve != 'Not Required' %}
                                <a href="{{ 'check/certificate/' + ach.title + '/' + ach.approve.split('/')[1] }}"
                                   target="_blank"
                                   class="btn btn-success">
                                    Открыть сертификат подтверждения
                                </a>
                                {% set ext = ach.file_path.split('.')[-1].lower() %}
                                {% if ext in ['mp3', 'wav', 'aac', 'ogg', 'oga', 'flac'] %}
                                    <audio controls>
                                        <source src="{{ url_for('static', filename=ach.file_path) }}" type="audio/mpeg">
                                        Ваш браузер не поддерживает аудио.
                                    </audio>
                                {% else %}
                                    <a href="{{ url_for('download_ach',
                                                        title=ach.title,
                                                        filename=ach.file_path.split('/')[-1]) }}"
                                       class="btn btn-outline-primary btn-sm">
                                        Скачать файл достижения
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{{ 'check/certificate/' + ach.title + '/' + ach.file_path.split('/')[1] }}"
                                   target="_blank"
                                   class="btn btn-success">
                                    Открыть сертификат
                                </a>
                            {% endif %}
                        </td>
                        <td>{{ ach.mark }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

</div>
{% endblock %}