{% extends "workspace_base.html" %}
{% block content %}
<h1 align="center">Страничка студента</h1>
<h1><small>Ваше ID: {{ student_id }}</small></h1>
<div class="container">
    <br>
    <h2 align="center">Приглашения на собеседование</h2>
    {% if employers %}
    <div class="table-box">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ИНН</th>
                <th>Наниматель</th>
                <th>Адрес</th>
                <th>ФИО управляющего</th>
                <th>Контактный номер</th>
            </tr>
            </thead>
            <tbody>
            {% for emp in employers %}
            <tr>
                <td>{{ emp.INN }}</td>
                <td>{{ emp.title }}</td>
                <td>{{ emp.address }}</td>
                <td>{{ emp.boss_nsp }}</td>
                <td>{{ emp.phone_num }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
<br>
<h2 align="center">Добавить достижение</h2>
<br>
<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <p>{{ form.hidden_tag() }}</p>
        <h3>{{ form.name.label }}</h3>
        <p>{{ form.name(class="form-control", placeholder="Введите наименование достижения") }}</p>

        <h3>Файл достижения</h3>
        <p>{{ form.file()}}</p>

        <h3>{{ form.univer_title.label }}</h3>
        <p>{{ form.univer_title(class="form-control") }}</p>

        <p>{{ form.submit(class="btn btn-primary mb-2") }}</p>
        {% for error in form.file.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
</form>

<br>
<br>
<h2 align="center">Ваши достижения</h2>
<div class="container">
    <a class="d-block fw-bold text-decoration-none"
       data-bs-toggle="collapse"
       href="#unconfirmed"
       role="button"
       aria-expanded="false"
       aria-controls="unconfirmed"><h3>Неподтвержденные достижения</h3></a>
    <div class="collapse" id="unconfirmed">
        {% if nonapproved_achievements %}
        <div class="table-box">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Название достижения</th>
                    <th>Учебное заведение</th>
                    <th>Файл</th>
                </tr>
                </thead>
                <tbody>
                {% for ach in nonapproved_achievements %}
                <tr>
                    <td>{{ ach.title }}</td>
                    <td>{{ ach.university_title }}</td>
                    <td>
                        {% set ext = ach.file_path.split('.')[-1].lower() %}
                        {% if ext in ['mp3', 'wav', 'aac', 'ogg', 'oga', 'flac'] %}
                            <audio controls>
                                <source src="{{ url_for('static', filename=ach.file_path) }}" type="audio/{{ ext }}">
                                Ваш браузер не поддерживает аудио.
                            </audio>
                        {% else %}
                            <a href="{{ url_for('static', filename=ach.file_path) }}" download class="btn btn-outline-primary btn-sm">Скачать файл</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            Неподтвержденные достижения отсутствуют
        </div>
        {% endif %}
    </div>

    <br>
    <a class="d-block fw-bold text-decoration-none"
       data-bs-toggle="collapse"
       href="#confirmed"
       role="button"
       aria-expanded="false"
       aria-controls="confirmed">
        <h3>Подтвержденные достижения</h3>
    </a>
    <div class="collapse" id="confirmed">
        {% if approved_achievements %}
        <div class="table-box">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Токен</th>
                    <th>Название достижения</th>
                    <th>Учебное заведение</th>
                    <th>Файл</th>
                </tr>
                </thead>
                <tbody>
                {% for ach in approved_achievements %}
                <tr>
                    <td>{{ ach.token }}</td>
                    <td>{{ ach.title }}</td>
                    <td>{{ ach.university_title }}</td>
                    <td>
                        {% set ext = ach.file_path.split('.')[-1].lower() %}
                        {% if ext in ['mp3', 'wav', 'aac', 'ogg', 'oga', 'flac'] %}
                            <audio controls>
                                <source src="{{ url_for('static', filename=ach.file_path) }}" type="audio/{{ ext }}">
                                Ваш браузер не поддерживает аудио.
                            </audio>
                        {% else %}
                            <a href="{{ url_for('static', filename=ach.file_path) }}" download="{{ ach.title }}_{{ ach.student_nsp }}.{{ ext }}" class="btn btn-outline-primary btn-sm">Скачать файл</a>
                        {% endif %}
                        <a href="{{ url_for('static', filename=ach.approve) }}" target="_blank"
                            class="btn btn-outline-primary btn-sm">Подтверждение PDF</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            Подтвержденные достижения отсутствуют
        </div>
        {% endif %}
    </div>

    <br>
    <a class="d-block fw-bold text-decoration-none"
       data-bs-toggle="collapse"
       href="#active"
       role="button"
       aria-expanded="false"
       aria-controls="active">
        <h3>Активные курсы</h3>
    </a>
    <div class="collapse" id="active">
        {% if active_courses %}
        <div class="table-box">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Название курса</th>
                    <th>Учебное заведение</th>
                </tr>
                </thead>
                <tbody>
                {% for ach in active_courses %}
                <tr>
                    <td>{{ ach.title }}</td>
                    <td>{{ ach.university_title }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            Активные курсы отсутствуют
        </div>
        {% endif %}
    </div>

    <br>
    <a class="d-block fw-bold text-decoration-none"
       data-bs-toggle="collapse"
       href="#completed"
       role="button"
       aria-expanded="false"
       aria-controls="completed">
        <h3>Оконченные курсы</h3>
    </a>
    <div class="collapse" id="completed">
        {% if inactive_courses %}
        <div class="table-box">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Токен</th>
                    <th>Название достижения</th>
                    <th>Учебное заведение</th>
                    <th>Файл</th>
                </tr>
                </thead>
                <tbody>
                {% for ach in inactive_courses %}
                <tr>
                    <td>{{ ach.token }}</td>
                    <td>{{ ach.title }}</td>
                    <td>{{ ach.university_title }}</td>
                    <td>
                        <a href="{{ url_for('static', filename=ach.file_path) }}" target="_blank"
                           class="btn btn-outline-primary btn-sm">Открыть PDF</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            Оконченные курсы отсутствуют
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}